# Application
APP_ENV=local

# Database
DB_DRIVE=postgres
DB_HOST=localhost
DB_USER=postgres
DB_PASS=123456
DB_NAME=ccicomp
DB_SCHEMA=public
DB_PORT=5432

# Sincroniza a estrutura das entidades do servidor com o schema do banco de dados
# Nunca deve ser true em produção. Caso esteja com APP_ENV "production", também não é executado.
DB_SYNC_SCHEMA=false

# Carrega as entidades automaticamente, sem necessitar importações na configuração do typeorm
# Altere apenas se souber o que souber o que está fazendo.
DB_AUTOLOAD_ENTITIES=true

S3_REGION=
S3_BUCKET=
S3_ACCESS_KEY=
S3_CLIENT_SECRET=

SES_REGION=
SES_ACCESS_KEY=
SES_CLIENT_SECRET=

BACKY_MAIL_VALIDATORS=
BACKY_MAIL_SENDER=
